name: Lint and Test Charts
on:
  workflow_call:
    inputs:
      charts_dir:
        required: false
        default: 'helm'
        type: 'string'
        description: 'Path to the directory holding the helm charts'
      helm_extra_sets:
        required: false
        default: ''
        type: string
        description: 'A collection of --sets for ct'
      ct_extra_args:
        required: false
        default: ''
        type: string
        description: 'Extra args to pass to the chart testing tool'
      runs-on:
        type: 'string'
        required: false
        default: '["ubuntu-latest"]'
        description: string of a JSON array describing the run target.
      run-kubeval:
        type: 'boolean'
        required: false
        default: false
        description: 'Whether the workflow should run kubeval or not'
      only-changed:
        type: 'boolean'
        required: false
        default: true
        description: 'Only lint and test changed charts'
      log-artifact-prefix:
        type: 'string'
        required: false
        default: ''
        description: 'Optional prefix on cluster log artifact'
jobs:
  lint-chart:
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    steps:
      - name: Checkout
        uses: actions/checkout@09d2acae674a48949e3602304ab46fd20ae0c42f
        with:
          fetch-depth: 0
      - name: Install Helm
        uses: azure/setup-helm@v3.5
        with:
          version: v3.10.0
      - uses: actions/setup-python@e9c40fbc2bf309799101412f178fe3064ebb27ac
        with:
          python-version: 3.13.5
      - name: Install chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b
      - name: Run chart-testing (list-changed)
        id: list-changed
        if: ${{ inputs.only-changed }}
        run: |
          changed=$(ct list-changed --chart-dirs ${{ inputs.charts_dir }} --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi
      - name: Add Helm Repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add k8s-at-home https://k8s-at-home.com/charts
          helm repo add groundhog2k https://groundhog2k.github.io/helm-charts/
          helm repo add psa https://bryopsida.github.io/psa-restricted-patcher/
          helm repo add couchdb https://apache.github.io/couchdb-helm/
          helm repo update
      - name: Run chart-testing (lint)
        if: ${{ inputs.only-changed }}
        run: ct lint --chart-dirs ${{ inputs.charts_dir }} --target-branch ${{ github.event.repository.default_branch }}
      - name: Run chart-testing (lint)
        if: ${{ !inputs.only-changed }}
        run: ct lint --chart-dirs ${{ inputs.charts_dir }} --all
  lint-docs:
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    needs: lint-chart
    steps:
      - name: Checkout
        uses: actions/checkout@09d2acae674a48949e3602304ab46fd20ae0c42f
      - name: Run helm-docs
        run: |
          docker run --rm --volume "$PWD:/helm-docs" jnorwood/helm-docs:latest
          git diff --exit-code
  kubeval-chart:
    if: ${{ inputs.run-kubeval }}
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    needs:
      - lint-chart
      - lint-docs
    strategy:
      fail-fast: false
      matrix:
        k8s:
          - v1.32.0
          - v1.31.0
          - v1.30.0
          - v1.29.0
          - v1.28.0
          - v1.27.0
          - v1.26.0
          - v1.25.5
          - v1.24.9
          - v1.23.15
    steps:
      - name: Checkout
        uses: actions/checkout@09d2acae674a48949e3602304ab46fd20ae0c42f
        with:
          fetch-depth: 0
      - uses: azure/setup-kubectl@v4
        with:
          version: ${{ matrix.k8s }}
        id: install
      - name: Run kubeval
        env:
          KUBERNETES_VERSION: ${{ matrix.k8s }}
        run: |
          mkdir ./.bin
          export PATH="./.bin:$PATH"

          set -euxo pipefail

          # renovate: datasource=github-releases depName=kubeval lookupName=instrumenta/kubeval
          KUBEVAL_VERSION=v0.16.1

          # renovate: datasource=github-releases depName=semver2 lookupName=Ariel-Rodriguez/sh-semversion-2
          SEMVER_VERSION=1.0.3

          CHART_DIRS="$(git diff --find-renames --name-only "$(git rev-parse --abbrev-ref HEAD)" remotes/origin/main -- ${{ inputs.charts_dir }} | cut -d '/' -f 2 | uniq)"
          SCHEMA_LOCATION="https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/"

          # install kubeval
          curl --silent --show-error --fail --location --output /tmp/kubeval.tar.gz https://github.com/instrumenta/kubeval/releases/download/"${KUBEVAL_VERSION}"/kubeval-linux-amd64.tar.gz
          tar -C .bin/ -xf /tmp/kubeval.tar.gz kubeval

          # install semver compare
          curl -sSfLo .bin/semver2 https://raw.githubusercontent.com/Ariel-Rodriguez/sh-semversion-2/${SEMVER_VERSION}/semver2.sh
          chmod +x .bin/semver2

          # add helm repos
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add k8s-at-home https://k8s-at-home.com/charts
          helm repo add groundhog2k https://groundhog2k.github.io/helm-charts/
          helm repo add psa https://bryopsida.github.io/psa-restricted-patcher/
          helm repo add couchdb https://apache.github.io/couchdb-helm/


          # Compute required kubernetes api versions
          apis=''

          if [[ "$(semver2 ${KUBERNETES_VERSION#v} 1.21.0)" -ge 0 ]]; then
            apis="${apis} --api-versions batch/v1/CronJob"
          else
            apis="${apis} --api-versions batch/v1beta1/CronJob"
          fi

          # validate charts
          for CHART_DIR in ${CHART_DIRS}; do
            (cd ${{ inputs.charts_dir }}/${CHART_DIR}; helm dependency build)
            helm template --kube-version=${{ matrix.k8s }} \
              $apis \
              ${{ inputs.charts_dir }}/"${CHART_DIR}" | kubeval \
                --strict \
                --ignore-missing-schemas \
                --kubernetes-version "${KUBERNETES_VERSION#v}" \
                --schema-location "${SCHEMA_LOCATION}"
          done
  install-chart:
    name: install-chart
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    needs:
      - lint-chart
      - lint-docs
    strategy:
      fail-fast: false
      matrix:
        k8s:
          - v1.32.0
          - v1.31.0
          - v1.30.0
          - v1.29.0
          - v1.28.0
          - v1.27.0
          - v1.26.0
          - v1.25.3
          - v1.24.7
          - v1.23.13
    steps:
      - name: Checkout
        uses: actions/checkout@09d2acae674a48949e3602304ab46fd20ae0c42f 
        with:
          fetch-depth: 0
      - name: Create kind ${{ matrix.k8s }} cluster
        uses: helm/kind-action@d4887be296b90d45c7a7aaf1379c0ebd88c8aa31 
        with:
          node_image: kindest/node:${{ matrix.k8s }}
          version: v0.17.0 
      
      - name: Install Ingress Controller
        run: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/kind/deploy.yaml

      - name: Install chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b 
      - name: Add Helm Repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add k8s-at-home https://k8s-at-home.com/charts
          helm repo add groundhog2k https://groundhog2k.github.io/helm-charts/
          helm repo add psa https://bryopsida.github.io/psa-restricted-patcher/
          helm repo add couchdb https://apache.github.io/couchdb-helm/
          helm repo update
      - name: Run chart install
        if: ${{ inputs.only-changed }}
        env:
          CT_HELM_EXTRA_ARGS: '--timeout 500s --debug'
        run: ct install --chart-dirs ${{ inputs.charts_dir }} --target-branch ${{ github.event.repository.default_branch }} --helm-extra-set-args "${{ inputs.helm_extra_sets }}" --debug ${{ inputs.ct_extra_args }}
      - name: Run chart install
        if: ${{ !inputs.only-changed }}
        env:
          CT_HELM_EXTRA_ARGS: '--timeout 500s --debug'
        run: ct install --chart-dirs ${{ inputs.charts_dir }} --all --helm-extra-set-args "${{ inputs.helm_extra_sets }}" --debug ${{ inputs.ct_extra_args }}
      - name: Exports logs
        if: "${{ always() }}"
        run: kind export logs /tmp/kind-logs --name=chart-testing
      - name: Upload Logs
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.log-artifact-prefix }}-cluster-logs-${{ matrix.k8s }}
          path: /tmp/kind-logs
