name: Node Typescript QA
on: 
  workflow_call:
    inputs:
      continue-on-prod-vulns:
        default: false
        type: boolean
        description: 'Whether to fail the job or continue when vulnerabilities are found in production dependencies'
    secrets:
      SONARQUBE_KEY:
        required: true
        description: Sonarcloud key
jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install native dependencies
      run: |
        sudo apt-get install libavahi-compat-libdnssd-dev
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: 'javascript'
    - name: Autobuild
      uses: github/codeql-action/autobuild@v2
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
      with:
        category: "/language:javascript"

  build-and-test:
    name: Build And Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x,18.x]
    steps:
      - name: Checkout
        uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      - name: Install native dependencies
        run: |
          sudo apt-get install libavahi-compat-libdnssd-dev
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm run lint --if-present
      - run: npm audit --omit dev
        continue-on-error: ${{ inputs.continue-on-prod-vulns }}
      - run: npm test
      - uses: actions/upload-artifact@v3
        if: ${{ matrix.node-version == '16.x' }}
        with:
          name: coverage
          path: |
            coverage
  sonar:
    name: Sonar Scan
    runs-on: ubuntu-latest
    needs:
    - build-and-test
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/download-artifact@v3
      with:
        name: coverage
        path: coverage
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONARQUBE_KEY }}