name: Node Typescript QA
on: 
  workflow_call:
    inputs:
      node_versions:
        default: '{"node-version": ["18.x","20.x", "22.x"]}'
        type: string
        required: false
      cache-dependency-path:
        type: string
        default: 'package-lock.json'
        required: false
      upload-name:
        type: string
        required: false
        default: artifacts
      upload-paths:
        type: string
        required: false
        default: |
          coverage
      upload-version:
        default: '20.x'
        type: string
        required: false
      continue-on-prod-vulns:
        default: false
        type: boolean
        description: 'Whether to fail the job or continue when vulnerabilities are found in production dependencies'
      runs-on:
        type: 'string'
        required: false
        default: '["ubuntu-latest"]'
        description: string of a JSON array describing the run target.
      working-dir:
        type: 'string'
        required: false
        default: './'
      ignore-scripts:
        type: boolean
        required: false
        default: true
        description: 'Whether or not install scripts will be executed or not, if not and your dependencies rely on it, you must define an allow:scripts script at the top level to run your allowed list of scripts'
jobs:
  dependency-review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
    - name: 'Checkout Repository'
      uses: actions/checkout@v5
    - name: Dependency Review
      uses: actions/dependency-review-action@v4
      with:
        comment-summary-in-pr: true
        fail-on-scopes: runtime
        fail-on-severity: high
  build-and-test:
    name: Build And Test
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON( inputs.node_versions ) }}
    steps:
      - name: Checkout
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: ${{ inputs.working-dir }}package-lock.json
      - run: npm ci --prefer-offline --ignore-scripts
        if: ${{ inputs.ignore-scripts }}
        working-directory: ${{ inputs.working-dir }}
      - run: npm ci --prefer-offline
        if: ${{ inputs.ignore-scripts }}
        working-directory: ${{ inputs.working-dir }}
      - run: npm run allow:scripts --if-present
        working-directory: ${{ inputs.working-dir }}
      - run: npm run build --if-present
        working-directory: ${{ inputs.working-dir }}
      - run: npm run lint --if-present
        working-directory: ${{ inputs.working-dir }}
      - run: npm audit --omit dev
        working-directory: ${{ inputs.working-dir }}
        continue-on-error: ${{ inputs.continue-on-prod-vulns }}
      - run: npm run test --if-present
        working-directory: ${{ inputs.working-dir }}
      - run: npm run test:e2e --if-present
        working-directory: ${{ inputs.working-dir }}
      - uses: actions/upload-artifact@v5
        if: ${{ matrix.node-version == inputs.upload-version }}
        with:
          name: ${{ inputs.upload-name }}
          path: ${{ inputs.upload-paths }}
