name: Validate Services
on:
  workflow_call:
    inputs:
      build_manifest_path:
        type: string
        default: build.artifacts.json
        required: false
        description: Manifest of the images used, this is feed into deploy and verify tasks
      pre_deploy_make_targets:
        type: string
        default: ''
        required: false
        description: A set of make targets to execute in the repo before running skaffold deploy
      post_deploy_make_targets:
        type: string
        default: ''
        required: false
        description: A set of make targets to execute post deploy and verify
      runs-on:
        type: 'string'
        required: false
        default: '["ubuntu-latest"]'
        description: string of a JSON array describing the run target.
    secrets:
      clone_token:
        required: false
        description: A PAT that will be used when cloning
jobs:
  validate-services:
    name: Validate
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Install K3D
        run: wget -q -O - https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash
      - name: Checkout repository
        if: env.GH_TOKEN
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.clone_token }}
        env:
          GH_TOKEN: ${{ secrets.clone_token }}
      - name: Checkout repository
        if: ${{ !env.GH_TOKEN }}
        uses: actions/checkout@v4
        with:
          submodules: recursive
        env:
          GH_TOKEN: ${{ secrets.clone_token }}
      - name: Start K3D
        run: k3d cluster create test-cluster
      - name: Install Skaffold
        run: |
          curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && \
          sudo install skaffold /usr/local/bin/
      - name: Log into registry
        timeout-minutes: 5
        uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Pull Secret in K3D
        run: kubectl create secret docker-registry regcred --docker-username=bryopsida --docker-password=$GITHUB_TOKEN --docker-server=ghcr.io
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Pre-Deploy Tasks
        if: ${{ inputs.pre_deploy_make_targets != '' }}
        run: make ${{ inputs.pre_deploy_make_targets }}
      - name: Skaffold Deploy
        run: skaffold deploy -a ${{ inputs.build_manifest_path }}
      - name: Skaffold Verify
        run: skaffold verify -a ${{ inputs.build_manifest_path }}
      - name: Run Post-Deploy Tasks
        if: ${{ inputs.post_deploy_make_targets != '' }}
        run: make ${{ inputs.post_deploy_make_targets }}
